.nightmode body {
      background-image: url('images/giphy.gif');
    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightseagreen;
  font-family: 'Major Mono Display', monospace;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #bbb;
}

.header {
  color: black;
  padding-left: 20px;
  padding: 2px 20px;
  font-family: 'Monoton', cursive;
  text-shadow: 6px 4px lightseagreen;
  letter-spacing: 5px;
  font-size: 300%;
  background-color: #bef4f1;
}

.title {
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 5px;
}

* {box-sizing: border-box;}

button {
  background-color: lightseagreen;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 4px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

.nightmode ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000033;
  font-family: 'Major Mono Display', monospace;
}

li {
  float: left;
}

.nightmode li a {
  display: inline-block;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nightmode li a:hover {
  background-color: #555;
  color:black;
}

.nightmode .header {
  color: #999;
  padding-left: 20px;
  padding: 2px 20px;
  font-family: 'Monoton', cursive;
  text-shadow: 6px 4px midnightblue;
  text-shadow: -6px -4px #4d0000;
  letter-spacing: 5px;
  font-size: 300%;
  background-color: #111
}

.nightmode .title {
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 5px;
    color: lightgray;
}

* {box-sizing: border-box;}

.container {
  position: relative;
}
.caption {
  position: absolute; 
  top: 50%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .8);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 10px;
  text-align: center;
 font-family: 'Quicksand', sans-serif;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image2 {
  width:40%;
  border:12px groove lightseagreen;
}
.nightmode .image2 {
  width:40%; 
  border:12px groove #00004d
}
.container:hover .caption {
  opacity: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}


.column {
  flex: 33.33%;
  padding: 0 20px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  padding-top: 40px;
}

.nightmode button {
  background-color: #00004d;
  border: none;
  color: silver;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 4px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

button:hover {
  background-color: #bbb;
  color: black;
}

.nightmode button:hover {
  background-color: #555;
  color: black;
}
